####################################
# LLM
####################################

LLM_PROVIDER=aws

MODEL_ID= amazon.nova-lite-v1:0

AWS_REGION= us-east-1

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

####################################
# Database
####################################

DATABASE_PATH=data/business.db

####################################
# Prompt
####################################

PROMPT_VERSION=v1

TOP_K=3

####################################
# Debug

DEBUG=False