# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/
localenv/

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Database
*.db-journal

# Generated Reports
evaluation/report.json

# OS Files
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/