fastapi
uvicorn
boto3
python-dotenv
pandas
sqlglot
sqlparse
sentence-transformers
faiss-cpu
numpy
faker
pydantic
jinja2
pyyaml
tabulate
openai
tiktoken
openai
azure-identity
azure-keyvault-secrets
azure-search-documents
azure-storage-blob
azure-monitor-opentelemetry
pyodbc